# Environments
.vscode
venv

env
.env
.venv
.env
env
**/.DS_Store

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal


**/migrations/00*

media

.python-version